@import "tailwindcss";
/* @config "../tailwind.config.js"; */

/* --- GLOBAL CONSISTENCY --- */
body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}



/* Custom Scrollbar */
/* Hide Scrollbar Globally */
::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

::selection {
    background: rgb(var(--moto-accent-rgb));
    color: white;
}

:root {
    color-scheme: light;

    /* Light Mode Defaults */
    --bg-primary: #f9fafb;
    /* gray-50 */
    --text-primary: #111827;
    /* gray-900 */
    --scrollbar-track: #f3f4f6;
    --scrollbar-thumb: #d1d5db;
    --scrollbar-thumb-hover: #9ca3af;

    --moto-accent: #F2A619;
    --moto-accent-hover: #d98e04;
    --moto-accent-rgb: 242 166 25;
}



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* Consistent Map Styles */
.leaflet-container {
    font-family: 'Inter', sans-serif !important;
    z-index: 1;
}

.leaflet-popup-content-wrapper {
    border-radius: 0.5rem;
    padding: 0;
    overflow: hidden;
}

.leaflet-popup-content {
    margin: 0;
    width: 200px !important;
}

/* Custom Scrollbar for Sidebar */
.custom-scroll::-webkit-scrollbar {
    width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}